.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

#logo_img {
  height: 100px;
}

.div_center {
  margin-top: 150px;
}

#language_found {
  text-decoration: underline;
}

.message_found h1 {
  font-weight: bold;
  font-size: 24px;
  color: #707070;
  margin-top: 80px;
}

.wrong_language {
  text-align: center;
  margin-top: 50px;
  color: #A0A0A0;
  font-style: italic;
}

#btn-submit {
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  float: right;
}

.select_language {
  width : auto;
  display: inline-block;
}

#lang_trad {
  font-size: 24px;
}

.translator {
  margin-top: 15px;
}