<div class="row div_center">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<img id="logo_img" src="../../assets/images/logo.png">
	</div>

	<div class="col-md-4">
		<textarea class="form-control" rows="6" ng-model="text"></textarea>
		<button id="btn-submit" type="submit" class="btn btn-primary" ng-click="submit()">Analyze</button>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-md-2"></div>

	<div class="col-md-4 message_found" >
		<h1>Language found : <span id="language_found">French</span></h1>
	</div>
</div>

<div class="wrong_language" >
    <p>
    	Wrong language ? Help us to improve our application !<br />
		Select the correct language : 
		<select class="form-control input-sm select_language" >
	  		<option>French</option>
	  		<option>République Dominicaine du Congo</option>
	  	</select>
		<button type="submit" class="btn btn-primary btn-sm" ng-click="submit()">Correct it !</button>
  	</p>
</div>