<!-- Header With multilingual -->
<div layout="row">
	<div flex></div>
	<div flex="20">
		<md-input-container>
			<label>{{user.langueWebsite.code | translate}}</label>
			<md-select ng-model="user.langueWebsite" ng-change="changeLanguage(user.langueWebsite)">
				<md-option ng-repeat="language  in tradLang" value="{{language.code}}">
					{{language.code | translate}}
				</md-option>
			</md-select>
		</md-input-container>
	</div>
</div>

<!-- Toaster declaration -->
<toaster-container></toaster-container>


<!-- Logo, Detection & Translate -->
<div layout="row" layout-margin layout-xs="column" layout-sm="column" >

	<div flex="33" flex-xs="100" flex-sm="100">
		<img id="logo_img" src="../../assets/images/logo.png">
	</div>

	<div flex="33" flex-xs="100" flex-sm="100">
        <md-input-container class="md-block">
          <label>{{ 'ENTERTEXTE' | translate }}</label>
          <textarea ng-model="user.text" ng-focus="hideResult()" columns="1"  rows="5"></textarea>
        </md-input-container>
      	<md-button md-no-ink="" class="md-raised md-primary" ng-click="submit()">{{ 'ANALYSE' | translate }}</md-button>
     </div>


	<div flex="33" flex-xs="100" flex-sm="100" ng-show="result">
        <md-input-container class="md-block">
          <label>{{lang_title | translate}}</label>
          <textarea columns="1"  rows="5" readonly>{{result_trad | translate}}</textarea>
        </md-input-container>
  		<md-button md-no-ink="" class="md-raised md-primary" ng-click="translation(tradTo)">{{ 'TRANSLATION' | translate }}</md-button>
		<md-input-container style="margin: 0px; !important">
			<md-select  ng-model="tradTo" placeholder="{{ 'selectionTrad' | translate }}">
				<md-option ng-repeat="language  in languages | orderBy:translated" value="{{language.code}}">
					{{language.code | translate}}
				</md-option>
			</md-select>
		</md-input-container>
	</div>
</div>

<div layout="row" layout-margin layout-xs="column" layout-sm="column" ng-show="result">
	<div flex="100" align="center">
		<h3 ng-show="result">{{ 'TITLE' | translate }}<span id="language_found">{{result | translate}}</span></h3>
	</div>
</div>
<div layout="row" layout-margin layout-xs="column" layout-sm="column" ng-show="result">
    <div flex="100" align="center">
    	{{ 'WRONG' | translate }}<br />
		{{ 'SELECT' | translate }}
		<md-input-container>
			<md-select ng-show="result"  ng-model="user.langue2.code">
				<md-option ng-repeat="language  in languages | orderBy:translated" value="{{language.code}}">
					{{language.code | translate}}
				</md-option>
			</md-select>
		</md-input-container>
      	<md-button md-no-ink="" class="md-raised md-primary" ng-click="correct()">{{ 'CORRECT' | translate }}</md-button>
  	</div>
</div>